.git
.github
target
.venv
__pycache__
*.pyc
*.pyo
*.pyd
*.so
*.dylib
*.dll
*.o
*.a
*.zip
.env
.env.*
!/.env.example
kernels/*.ptx
kernels/*/*.ptx
bench/results*
deploy/results_*.json
iamabadaimodelandishouldbereplacedasap
iamabadaimodelandishouldbereplacedasap.zip
